body {
  padding-top: 70px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

dl > dt {
    padding: 2px;
}

.nav-pills > li {
  margin-top: 8px;
}

#content {
  margin-bottom: 10px;
}

#createaccount {
    position: absolute;
    padding-left: 200px;
    margin-top: -215px;
}

.disp-none {
    display: none;
}

#map-canvas {
    height: 500px;
    padding: 5px;
}

#info-window-content > form > span {
  border: 2px solid;
}

.info-window-category {
  position: relative;
  float: right;
  margin-top: -30px;
}

#info-window-vis-text {
  padding-left: 4px;
}

.info-window-form-span {
  margin-left: 4px;
  margin-right: 30px;
}

input.info-window-form-input {
  margin-left: 1px;
}

button.info-window {
  margin-top: 10px;
}

/* List CSS */ 
.uppercase {
  text-transform: uppercase;
}

/*::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }
*/
table { border-collapse: collapse; border-spacing: 0; }

h1 { 
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
}

#all_pois {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}
#all_pois thead {
  cursor: pointer;
}
#all_pois thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}

#all_pois thead tr {
    background: #d3d3d3;
}

#all_pois thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#all_pois thead tr th.tablesorter-headerAsc, #all_pois thead tr th.tablesorter-headerDesc {
  background: #acc8dd;
}

#all_pois thead tr th.tablesorter-headerAsc span {
  background-image: url('/static/images/arrow_up.png');
}
#all_pois thead tr th.tablesorter-headerDesc span {
  background-image: url('/static/images/arrow_down.png');
}

#all_pois tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
