{% extends "base.html" %}
{% block content %}
<!-- Google Maps API -->
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKebFAfOKsa5FAhljjyM2iJPd4nF6eBmk">
    </script>
<div id="map-canvas"></div>
<script type="text/javascript">
    poi_list = {{ poi_list|safe }};
    poi_list = $.parseJSON(poi_list);  
</script>
<script type="text/javascript">
    var getParameterByName = function(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
    var createMarkerClickListener = function(map, marker, poi) {
        return function() {
            var checkbox, radio_yes, radio_no;
            if (poi["visited"]) {
                checkbox = '<input type="checkbox" id="info-window-vis-checkbox" checked/>'
                if (poi["upvote"]) {
                    radio_yes = '<input type="radio" name="upvote" value= "1" class="info-window-form-input" checked/>'
                    radio_no = '<input type="radio" name="upvote" value="0" class="info-window-form-input"/>'
                }
                else {
                    radio_yes = '<input type="radio" name="upvote" value= "1" class="info-window-form-input"/>'
                    radio_no = '<input type="radio" name="upvote" value="0" class="info-window-form-input" checked/>'
                }
            }
            else {
                checkbox = '<input type="checkbox" id="info-window-vis-checkbox"/>';
                radio_yes = '<input type="radio" name="upvote" value= "1" class="info-window-form-input" checked/>';
                radio_no = '<input type="radio" name="upvote" value="0" class="info-window-form-input"/>';
            }
            var shortContent = '<div id="info-window-content">'+
            '<h4>' + poi["name"] + '</h4>' +
            '<span class="info-window-category">' + 
            poi["category"].toUpperCase() + '</span>' +
            '<h5 class="info-window-address">' + 
            poi["address"] + '</h5>' +
            '<p class="info-window-desc">' +
            poi["desc"] + '</p>' +
            checkbox + 
            '<span id="info-window-vis-text">I&#39ve been here!</span> ' +
            '</div>'

            var longContent = '<div id="info-window-content">'+
            '<h4>' + poi["name"] + '</h4>' +
            '<span class="info-window-category">' + 
            poi["category"].toUpperCase() + '</span>' +
            '<h5 class="info-window-address">' + 
            poi["address"] + '</h5>' +
            '<p class="info-window-desc">' +
            poi["desc"] + '</p>' +
            '<input type="checkbox" id="info-window-vis-checkbox" checked />' + 
            '<span id="info-window-vis-text">I&#39ve been here!</span> ' +
            '<div id="info-window-upvote">' +
            '<h6>Upvote?</h6>' +
            '<form action="/" method="POST">' +
            '<input type="hidden" name="poi_id" value="' + poi["id"] +'" />' +
            radio_yes +
            '<span class="info-window-form-span">It Was Awesome!</span>' +
            radio_no +
            '<span class="info-window-form-span">Nope</span><br />' +
            '<button type="submit" class="btn btn-primary btn-sm info-window">' +
            'Submit</button>' +
            '</form>' +
            '</div>' +
            '</div>'

            var infoWindow = new google.maps.InfoWindow();
            if (poi["visited"]) {
                infoWindow.setContent(longContent);
            }
            else {
                infoWindow.setContent(shortContent)
            }
            map.panTo(marker.getPosition())

            google.maps.event.addListener(infoWindow, 'domready', function() {
                $('#info-window-vis-checkbox').click(function(event) {
                    if (this.checked) {
                        infoWindow.setContent(longContent);
                        var newPos = new google.maps.LatLng(marker.getPosition().lat()+0.1, marker.getPosition().lng());
                        map.panTo(newPos);   
                    }
                    else {
                        infoWindow.setContent(shortContent);
                        map.panTo(marker.getPosition())
                    }
                                    
                });
            });
            

            infoWindow.open(map, marker);

        };
    };

    var marker_id = getParameterByName('marker_id')
    var mapOptions = {
      center: { lat: 34.005, lng: -118.25},
      zoom: 11
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    for (var i = 0; i < poi_list.length; i++) {
        var img_suffix;
        if (poi_list[i]["visited"]) {
            img_suffix = "_vis.png";
        }
        else {
            img_suffix = "_unvis.png"
        }
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(poi_list[i]["latitude"], poi_list[i]["longitude"]),
            map: map,
            title: poi_list[i]["name"],
            icon: "{{ url_for('static', filename='images/')}}" + poi_list[i]["category"] + img_suffix

        });
        marker.set("id", "marker_" + poi_list[i]["id"])
        if (marker.get("id") === marker_id ) {
            var savedMarker = marker;
        }
        google.maps.event.addListener(marker, 'click', createMarkerClickListener(map, marker, poi_list[i]));
    }

    //Test for query parameter
    if (savedMarker) {
        google.maps.event.trigger(savedMarker, 'click')
    }
    


</script>
{% endblock %}