{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block content %}
<form role="form" action= "/login" method="POST">
    <h4>Login</h4>
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.password) }}
    </dl>  
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<div id="createaccount">
    <h4>Or you could...</h4>
    <a href="{{ url_for('register_get') }}" class="btn btn-default" role="button">Create Account</a> 
</div>
{% endblock %}