{% macro render_field(field) %}
<dt>{{ field.label }}</dt>
<dd>{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class="errors disp-none">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</dd>
{% endmacro %}

{% macro render_poi_list(poi) %}
<tr id="poi_{{poi.id}}">

<td>
{% if poi.visited %}
    <span class="glyphicon glyphicon-ok"></span><span style="display:none">1</span>
{% else %}
    <span class="glyphicon glyphicon-remove"></span><span style="display:none">0</span>
{% endif %}
</td>

<td>
{% if poi.upvote == None %}
    <span class="glyphicon glyphicon-question-sign"></span><span style="display:none">0</span>
{% elif poi.upvote == True %}
    <span class="glyphicon glyphicon-thumbs-up"></span><span style="display:none">2</span>
{% else %}
    <span class="glyphicon glyphicon-thumbs-down"></span><span style="display:none">1</span>
{% endif %}
</td>

<td>
    {{poi.name}}    
</td>

<td class="uppercase">
    {{poi.category}}    
</td>

<td>
    <a href="{{url_for('index')}}?marker_id=marker_{{poi.id}}">{{poi.address}}</a>
</td>

</tr>
{% endmacro %}

{% macro render_top_ten_list(poi) %}
<tr id="top_ten_{{poi.id}}">

<td>
{% if poi.visited %}
    <span class="glyphicon glyphicon-ok"><span class="achieved" style="display:none"></span></span>
{% else %}
    <span class="glyphicon glyphicon-remove"></span>
{% endif %}
</td>

<td>
    <a href="{{url_for('index')}}?marker_id=marker_{{poi.id}}">{{poi.name}}</a>
</td>

<td class="uppercase">
    {{poi.category}}    
</td>

<td>
    {{poi.total_upvotes}}
</td>
</tr>
{% endmacro %}
