{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block content %}
<form role="form" action="/register" method="POST">
    <h4>Register</h4>
    <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.fname) }}
        {{ render_field(form.lname) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm)}}
    </dl>
    <button type="submit" class="btn btn-primary buttonbottom">Register</button>
</form>
{% endblock %}